{% extends 'base.html' %}

{% block title %}<title>Ajouter critique</title>  {% endblock %}

{% block content %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

       <!-- TICKET -->

        <div class="create-ticket-content container-fluid">

            <h1 class="create-review-title">Créer une Critique</h1>
            <h2 class="create-title">Livre / Article</h2>

            <div class="create-form ">

                <div class="user-form-label mb-3">
                    <label  for="user" class="form-label">Utilisateur</label><br>
                    {{ ticket_form.user }}
                </div>

                <div class="mb-3">
                    <label  for="title" class="form-label">Titre</label><br>
                    {{ ticket_form.title }}
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label><br>
                    {{ ticket_form.description }}
                </div>

                <div class="custom-file mb-3">
                    <label for="image" class="custom-file-label">Image</label><br>
                    {{ ticket_form.image }}
                </div>
            </div>

        </div>



        <!-- REVIEW -->

        <div class="create-review-content container-fluid">

            <h2 class="create-title">Critique</h2>

            <div class="create-form ">

{#                <div class="review-ticket mb-3">#}
{#                    <label for="ticket" class="form-label">Ticket</label><br>#}
{#                    {{ review_form.ticket }}#}
{#                </div>#}
{##}
{#                <div class="user-form-label mb-3">#}
{#                    <label  for="user" class="form-label">Utilisateur</label><br>#}
{#                    {{ review_form.user }}#}
{#                </div>#}

                <div class="mb-3">
                    <label for="headline" class="form-label">Titre</label><br>
                    {{ review_form.headline }}
                </div>


                    <div class="mb-3 ">
                <label class="form-label" for="rating">Note</label>
                        {{ review_form.rating }}
{#                        <input class="form-check-input" type="radio" id="rating"#}
{#                               value='{{ forloop.counter }}'>#}

                    </div>
{#                {% endfor %}#}

            {{ review_form.errors }}
            {{ review_form.rating.errors }}
            {{ ticket_form.non_field_errors }}
            {{ review_form.user.errors }}
            {{ review_form.ticket.errors }}
            {{ review_form.non_field_errors }}


                <div class="mb-3">
                    <label for="body" class="form-label">Commentaire</label><br>
                    {{ review_form.body }}
                </div>

            </div>

            <button type="submit" class="btn-create btn btn-success">Créer</button>

        </div>


    </form>



{% endblock %}