{% extends 'base.html' %}

{% block title %}<title>LitReview Flux</title>{% endblock %}

{% block content %}

    <div class="flux-buttons container-fluid">

        <div class="buttons-row row">
            <div class="flux-button-left mb-2 col-md-6">
                <a href="{% url 'add-ticket' %}" title="Demander une critique" type="button"
                   class="btn btn-dark btn-lg">Créer un ticket</a>
            </div>
            <div class="flux-button-right mb-2 col-md-6">
                <a href="{% url 'add-review' %}" type="button" class="btn btn-outline-dark btn-lg ">Créer une
                    critique</a>
            </div>
        </div>

    </div>


    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'AppReview/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'AppReview/review_snippet.html' %}
        {% endif %}
    {% endfor %}
    <br>



{% endblock %}

