{% extends 'base.html' %}

{% block title %}<title>LitReview accueil</title>{% endblock %}

{% block content %}

    <div class="flux-buttons container-fluid">
        <button type="button" class="btn btn-dark">Demander une critique</button>
        <button type="button" class="btn btn-outline-dark">Créer une critique</button>
    </div>


    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'AppReview/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'AppReview/review_snippet.html' %}
        {% endif %}
    {% endfor %}




{% endblock %}

