{% extends 'base.html' %}

{% block title %}<title>LitReview accueil</title>{% endblock %}

{% block content %}

    <div class="flux-buttons container-fluid">
        <button type="button" class="btn btn-dark">Demander une critique</button>
        <button type="button" class="btn btn-outline-dark">Créer une critique</button>
    </div>


    {% for post in post %}
        {% if post.content_type == 'TICKET' %}
            {% include 'AppReview/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'AppReview/review_snippet.html' %}
        {% endif %}
    {% endfor %}


{#    {% for review in reviews %}#}
{#        rating = {{ review.rating|stringformat:"s" }}#}
{##}
{#        <h1>{{ review.ticket.title }}</h1>#}
{#        <hr>#}
{#        <p>{{ review.time_created }}</p>#}
{#        <h2>{{ review.headline }} - {{ review.rating }} </h2>#}
{##}
{#        {% for i in x|ljust:"4" %}#}
{##}
{#            <i class="fas fa-star"></i>#}
{##}
{#        {% endfor %}#}


{##}
{#        <p>{{ review.body }}</p>#}
{#         {{ review.ticket }}#}
{##}
{#        <a href="#" class="btn btn-outline-dark">Go somewhere</a>#}
{##}
{##}
{##}
{#    {% endfor %}#}

{% endblock %}

