{% extends 'base.html' %}


{% block title %}<title>LitReview accueil</title>{% endblock %}

{% block content %}


<div class="content container-fluid">
    <div class="index row">

        <div class="sign-link col-lg-5">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="{% url 'register' %}" type="link" class="sign-button btn btn-outline-dark btn-sm">S'inscrire</a>
        </div>

        <div class="log-form col-lg-5">
            <h2 class="login-title">Connectez-vous</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label"></label>
                    {{login_form.username}}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"></label>
                    {{ login_form.password}}
                </div>
                <button type="submit" class="connect-btn btn btn-outline-dark btn-sm">Se connecter</button>
            </form>


            </div>
        </div>
 <div class="error-message mb-3">
            {% for message in messages %}
                <p class="messages-info">{{ message }}</p>
            {% endfor %}
    </div>


</div>

{% endblock %}