{% extends 'base.html' %}

{% block title %} <title>Modifier Ticket</title>  {% endblock %}

{% block content %}



    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="create-ticket-content container-fluid">

        <h2 class="create-title">Modifier un Ticket</h2>

        <div class="create-form ">

            <div class="mb-3">
                <label  for="title" class="form-label">Titre</label><br>
                {{ modify_ticket_form.title }}
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label><br>
                {{ modify_ticket_form.description }}
            </div>

            <div class="custom-file mb-3">
                <label for="image" class="custom-file-label">Image</label><br>
                {{ modify_ticket_form.image }}
            </div>
        </div>
        <div class="modify-buttons">
            <a href="{% url 'flux' %}">
                <button type="button" class="btn-create btn btn-outline-dark">annuler</button>
            </a>
            <button type="button" class="btn-create btn btn-dark" data-bs-toggle="modal"
                    data-bs-target="#modifyModal">Modifier</button>
        </div>
    </div>


{#<!-- Modal -->#}

        {% include 'AppReview/modify_modal.html' %}

{#<!-- MODAL -->#}

</form>


{% endblock %}

