{% extends 'base.html' %}

{% block title %} <title>Modifier Critique</title>  {% endblock %}

{% block content %}

    <form method="POST">
    {% csrf_token %}

    <div class="create-review-content container-fluid">

        <h2 class="modify-title">Modifier votre critique - <span class="title-modifying">{{ review.ticket.title }}</span></h2>

            <div class="create-form ">
                <img class='image-modify img-fluid' src="{{ media_url }}{{ review.ticket.image.url }}/" alt="illustration livre">

                <div class="mb-3">
                    <label for="headline" class="form-label">Titre</label><br>
                    {{ modify_review_form.headline }}
                </div>


                    <div class="mb-3 ">
                        <label class="form-label" for="rating">Note</label>
                        {{ modify_review_form.rating }}
                    </div>

            {{ modify_review_form.errors }}
            {{ modify_review_form.rating.errors }}
            {{ modify_ticket_form.non_field_errors }}
            {{ modify_review_form.user.errors }}
            {{ modify_review_form.ticket.errors }}
            {{ modify_review_form.non_field_errors }}


                <div class="mb-3">
                    <label for="body" class="form-label">Commentaire</label><br>
                    {{ modify_review_form.body }}
                </div>

            </div>

            <button type="submit" class="btn-create btn btn-success">Modifier</button>

        </div>
<!-- Modal -->

        {% include 'AppReview/modify_modal.html' %}

<!-- MODAL -->

    </form>
{% endblock %}