{% extends 'base.html' %}

{% block title %} <title>Ajouter une critique</title> {% endblock %}

{% block content %}
    <br>





    <div class="create-review-content container-fluid">

        <h2 class="reply-title">Répondre à ce ticket</h2>

        {#    _________________  TICKET _________________________#}

        <div class="snippet-content container-fluid">
            <div class="snippet-card card ">

                {#       header#}
                <div class="card-header-snippet card-header">
                    <div class="row">
                        <div class="header-title-time col-lg-6">
                            <p class="snippet-title card-title">{{ ticket.user }} a demandé une critique</p>
                            <p class="snippet-time card-title">{{ ticket.time_created }}</p>
                        </div>

                        {% if ticket.user == user %}
                            <div class="edit-del-buttons col-lg-6">
                                <a href="{% url 'modify-ticket' ticket.id %}" class="card-link" title="Modifier"><i
                                        class="fas fa-edit"></i></a>
                                <a href="{% url 'delete-ticket' ticket.id %}" class="card-link" title="Supprimer"><i
                                        class="fas fa-trash-alt"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {#      body#}
                <div class="card-body ">
                    <h5 class="card-title">{{ ticket.title }}</h5>

                    <div class="snippet-body row">

                        <div class="col-lg-8">
                            <p class="snippet-description">{{ ticket.description }}</p>
                        </div>
                        {% if ticket.image %}
                            <div class="ticket-image col-lg-4">
                                <img class='img-fluid' src="{{ media_url }}{{ ticket.image.url }}/"
                                     alt="illustration livre">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {#__________________ END TICKET ______________________________ #}

    <form method="POST">
        {% csrf_token %}
        <div class="create-form ">

{#            <div class="review-ticket mb-3">#}
{#                <label for="ticket" class="form-label">Ticket</label><br>#}
{#                {{ reply_form.ticket }}#}
{#            </div>#}

            <div class="mb-3">
                <label for="headline" class="form-label">Titre</label><br>
                {{ reply_form.headline }}
            </div>


            <div class="mb-3 ">
                <label class="form-label" for="rating">Note</label>
                {{ reply_form.rating }}
            </div>

            {{ reply_form.errors }}
            {{ reply_form.rating.errors }}
            {{ reply_form.non_field_errors }}
            {{ reply_form.user.errors }}
            {{ reply_form.ticket.errors }}
            {{ reply_form.non_field_errors }}


            <div class="mb-3">
                <label for="body" class="form-label">Commentaire</label><br>
                {{ reply_form.body }}
            </div>

        </div>

        <div class="modify-buttons">
             <a href="{% url 'flux' %}">
                <button type="button" class="btn-create btn btn-outline-dark">Annuler</button>
            </a>
            <button type="submit" class="btn-create btn btn-dark" >Créer</button>

        </div>
    </form>
</div>



{% endblock %}