


{#{{ post.review.headline }}#}
{#{{ post.review }}#}
    {% for review in reviews %}
{{review.headline }}
{#        rating = {{ post.rating|get_digit:"1" }}#}
{#        <hr>#}
{#        <h2>{{ post.headline }} - {{ post.review.rating }} </h2>#}
{##}
{#        <p>{{ post.review.time_created }}</p>#}
{##}
{##}
{#        {% for i in x|ljust:"4" %}#}
{#            <i class="fas fa-star"></i>#}
{#        {% endfor %}#}
{##}
{#        <p>{{ post.review.body }}</p>#}
{##}
    {% endfor %}
{#<br>#}
{#<a href="#" class="btn btn-outline-dark">Go somewhere</a>#}
{#<br>#}
