

<div class=" snippet-content container-fluid">

    {#    REVIEW#}

    <div class="snippet-card rounded-3 card">

        <div class="card-header-review-snippet card-header vh-15">
            <div class="row">
                <div class="header-title-time col-lg-6">
                    <p class="snippet-title card-title">{{ post.user }} a posté une critique</p>
                    <p class="snippet-time card-title">{{ post.time_created }}</p>
                </div>

                {% if post.user == user %}
                    <div class="edit-del-buttons col-lg-6">
                        <a href="{% url 'modify-review' post.id %}" class="card-link" title="Modifier"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-review' post.id %}" class="card-link" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="review-body card-body">
            <h5 class="review-title-card card-title">{{ post.headline }}</h5>


            <span class="stars">
            {% for i in post.stars_checked %}
                <i class="fas fa-star checked"></i>
            {% endfor %}

            {% for i in post.stars_unchecked %}
                <i class="fas fa-star"></i>
            {% endfor %}
            </span>


            <p class="text-body card-text">{{ post.body }}</p>
        </div>
 <hr>
        {#    TICKET#}

        <div class="ticket-in-review card">
            <div class="card-header-ticket-snippet card-header vh-15">
                <p class="ticket-review-snippet-title ">Ticket de {{ post.ticket.user }} posté le {{ post.ticket.time_created }}</p>

            </div>

            <div class="card-body">
                <h5 class="card-title">{{ post.ticket.title }}</h5>

                <div class="snippet-body row">

                    <div class="col-lg-7"><p class="snippet-description">{{ post.ticket.description }}</p></div>

                    {% if post.ticket.image %}
                        <div class="ticket-image col-lg-5">
                            <img class='img-fluid' src="{{ media_url }}{{ post.ticket.image.url }}/" alt="illustration livre">
                        </div>
                    {% endif %}

                </div>


                {% if post.ticket.title == ticket.title %}
                    <div class="answer-button">
                        <a href="{% url 'reply-ticket' post.id %}" type="button" class="btn btn-dark btn-lg">Répondre</a>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
</div>



{#        rating = {{ post.rating|get_digit:"1" }}#}
{#        <hr>#}
{#        <h2>{{ post.headline }} - {{ post.review.rating }} </h2>#}
{##}
{#        <p>{{ post.review.time_created }}</p>#}
{##}
{##}
{#        {% for i in x|ljust:"4" %}#}
{#            <i class="fas fa-star"></i>#}
{#        {% endfor %}#}
{##}
{#        <p>{{ post.review.body }}</p>#}
{##}
{#    {% endfor %}#}
{#<br>#}
{#<a href="#" class="btn btn-outline-dark">Go somewhere</a>#}
{#<br>#}
