

<div class="snippet-content container-fluid">
    <div class="snippet-card card ">

{#       header#}
        <div class="card-header-snippet card-header">
            <div class="row">
                <div class="header-title-time col-lg-6">
                    <p class="snippet-title card-title">{{ post.user }} a demandé une critique</p>
                    <p class="snippet-time card-title">{{ post.time_created }}</p>
                </div>

                {% if post.user == user %}
                    <div class="edit-del-buttons col-lg-6">
                        <a href="{% url 'modify-ticket' post.id %}" class="card-link" title="Modifier"><i
                                class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-ticket' post.id %}" class="card-link" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
                    </div>
                {% endif %}
            </div>

        </div>



{#      body#}
        <div class="card-body ">
            <h5 class="card-title">{{ post.title }}</h5>

            <div class="snippet-body row">

                <div class="col-lg-8">
                    <p class="snippet-description">{{ post.description }}</p>
                </div>
                {% if post.image %}
                    <div class="ticket-image col-lg-4">
                        <img class='img-fluid' src="{{ media_url }}{{ post.image.url }}/" alt="illustration livre">
                    </div>
                {% endif %}
            </div>

{#                {% if post.review.ticket != post.title %}#}
                    <div class="answer-button">
                        <a href="{% url 'reply-ticket' post.id %}" type="button" class="btn btn-dark btn-lg">Répondre</a>
                    </div>
{#                {% endif %}#}

        </div>
    </div>
</div>

