/*BASE*/

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 15vh;
}

.navigation {
    background-color: #212529;
    padding: 0 7%;
    vertical-align: center;
}

.centered {
    margin: 0 0 0 36%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu {
    font-family: 'Montserrat', sans-serif;
}

/* INDEX HTML */

.index {
    padding: 3% 5%;
    text-align: center;
}

.index .btn {
    font-size: 1.3rem;
}

.log-form {
    padding: 2% 10%;
    border: black 1px solid;
    border-radius: 20px;
    margin-left: 15rem;
}

.sign-link {
    padding: 7% 0;
    border: black 1px solid;
    border-radius: 20px;
}
.sign-button {
    margin-top: 1rem;
}
