/*BASE*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: beige;
}

/*header {*/
/*    height: 15vh;*/
/*}*/

.navigation {
    background-color: #212529;
    padding: 0 7%;
    vertical-align: center;
}

.centered {
    margin: 0 0 0 36%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-end;
}

/* INDEX HTML */
.content {
    padding: 0 10%;
}

.index {
    justify-content: space-between;
    padding: 5%;
    text-align: center;
}

.index .btn {
    font-size: 1.1rem;
    padding: 1% 5%;
    margin-bottom: 3%;
}

.log-form, .sign-link{
    padding: 1% 5%;
    border: lightgrey 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 2rem;
}

.sign-link {
    padding: 10% 0;
}

.sign-button {
    margin-top: 1rem;
}


/*REGISTER*/

.register-content {
    padding: 3% 37%;
}
.register-form {
    text-align: center;
    padding: 10% 8% 2% 8%;

    border: lightgrey 1px solid;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.register-title {
    /*text-align: center;*/
    font-family: 'Ubuntu', sans-serif;
}

.already-reg {
    font-size: 0.8rem;
    text-align: right;
    padding: 0;
    margin: 3% 0 0 0;
}
.error-message {
    color: red;
}

.infos {
    padding: 0;
    margin: 0;

    text-align: center;
    font-size: 0.7rem;
}

#messages {
    text-align: center;
    margin: auto;
}

/*LOGIN*/

.login-title {
    margin-bottom: 10%;
}

/*TICKET & REVIEW */

.create-ticket-title {
    font-family: 'Ubuntu', sans-serif;
}

.form-label {
    font-size: 1.3rem;
}

.create-ticket-content {
    padding: 3% 20%;
}

.create-form {
    padding: 2% 5%;
    /*margin-bottom: 3%;*/
    border: lightgrey 1px solid;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-create {
    margin-top: 2rem;
    padding: 1% 10%;
    float: right;
}

.user-form-label {
    display: none;
}

.create-review-content {
    padding: 0 20% 3%;
    margin-bottom: 3%;
}

.create-review-title {
    text-align: center;
}
ul {
    width: 50%;
}
li {
    display: inline-block;
    margin-right: 4%;
}
.radio-button {
    margin-right: 0;
}


/* SNIPPET - FLUX */

.flux-buttons {
    padding: 0 20%;
    margin-top: 2%;
}

.flux-button-right, .flux-button-left {
    text-align: center;
}
.flux-button-right a, .flux-button-left a {
    width: 15rem;
}
.btn-dark:hover {
    background-color: transparent;
    color: black;
}

.snippet-content {
    padding: 2% 20% 0 20%;
}

.snippet-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.snippet-card h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.snippet-title, .snippet-time {
    color: dimgrey;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 200;
}

.snippet-time {
    font-size: 0.8rem;
}

.card-header-snippet {
    font-family: 'Ubuntu', sans-serif;
    vertical-align: center;
}
.ticket-review-snippet-title {
    color: dimgrey;
}
.edit-del-buttons {
    text-align: end;
    padding: 1.5% 2%;
}

.edit-del-buttons i{
    color: dimgrey;
    font-size: 1.5rem;
}

.edit-del-buttons i:hover {
    color: #212529;
}

.review-title-card {
    font-size: 1.2rem;
}
.answer-button {
    margin-top: 2%;
    text-align: center;
}
.answer-button .btn{
    padding: 0.5% 10%;

}
.note-review {
    font-size: 1.2rem;
}
/*.snippet-body {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    padding-top: 2%;*/

/*}*/
.snippet-description {
    width: 100%;
    height: 100%;
    padding: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
    border: lightgray 1px solid;
}
.ticket-image {
    text-align: center;
}
.ticket-in-review {
    margin: 2% 5% 5% 5%;
}

.title-modifying {
    font-weight: bold;
}

.ticket-in-review p {
    margin-bottom: 0;
}


/*MODIFY*/

.modify-title {
    text-align: center;
    padding: 2%;
}

.image-modify {
    margin-bottom: 2%;
}