/*BASE*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: beige;
}

/*header {*/
/*    height: 15vh;*/
/*}*/

.navigation {
    background-color: #212529;
    padding: 0 7%;
    vertical-align: center;
}

.centered {
    margin: 0 0 0 36%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu {
    font-family: 'Montserrat', sans-serif;
}

/* INDEX HTML */
.content {
    padding: 0 10%;
}

.index {
    justify-content: space-between;
    padding: 5%;
    text-align: center;
}

.index .btn {
    font-size: 1.1rem;
    padding: 1% 5%;
    margin-bottom: 3%;
}

.log-form, .sign-link{
    padding: 1% 5%;
    border: lightgrey 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 2rem;
}

.sign-link {
    padding: 10% 0;
}

.sign-button {
    margin-top: 1rem;
}


/*REGISTER*/

.register-content {
    padding: 3% 37%;
}
.register-form {
    text-align: center;
    padding: 10% 8% 2% 8%;

    border: lightgrey 1px solid;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.register-title {
    /*text-align: center;*/
    font-family: 'Ubuntu', sans-serif;
}

.already-reg {
    font-size: 0.8rem;
    text-align: right;
    padding: 0;
    margin: 3% 0 0 0;
}
.error-message {
    color: red;
}

.infos {
    padding: 0;
    margin: 0;

    text-align: center;
    font-size: 0.7rem;
}

#messages {
    text-align: center;
    margin: auto;
}

/*LOGIN*/

.login-title {
    margin-bottom: 10%;
}

/*TICKET & REVIEW */

.create-ticket-title {
    font-family: 'Ubuntu', sans-serif;
    /*font-weight: 600;*/
    /*text-align: center;*/
}
.form-label {
    font-size: 1.3rem;
}
.create-ticket-content {
    padding: 3% 20%;
}
.create-form {
    padding: 2% 5%;
    /*margin-bottom: 3%;*/
    border: lightgrey 1px solid;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-create {
    margin-top: 2rem;
    padding: 1% 10%;
    float: right;
}

.user-form-label {
    display: none;
}

.create-review-content {
    padding: 0 20% 3%;
    margin-bottom: 3%;
}

.create-review-title {
    text-align: center;
}

/*.review-ticket {*/
/*    display: none;*/
/*}*/

/*SNIPPET*/

.snippet-content {
    padding: 2% 25% 0 25%;
}

/*.snippet-card {*/
/*    width: 50rem;*/
/*}*/
